<h1>Заметки</h1>
<div class="notes-grid">
  <div class="note" severity="high">
    <div class="note-severity">
      <span>Важно</span>
    </div>
    <div class="note-head">
      <div class="note-head-line-decoration"></div>
      <div class="note-head-line-decoration"></div>
    </div>
    <div class="note-content">
      <div class="note-content-line-decoration"></div>
      <div class="note-content-title">
        <span>Зайти в учительскую</span>
      </div>
      <div class="note-content-text-preview"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
    </div>
  </div>
  <div class="note"
       severity="low"
       [class.hidden]="hideNewNote">
    <div class="note-severity">
      <span>Заметка</span>
    </div>
    <div class="note-head">
      <div class="note-head-line-decoration"></div>
      <div class="note-head-line-decoration"></div>
    </div>
    <div class="note-content">
      <div class="note-content-line-decoration"></div>
      <div class="note-content-title no-bottom-margin">
        <span>Попить чай с Семеном</span>
      </div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
    </div>
  </div>
</div>
<button class="notes-add-btn"
        (click)="onAddNoteClicked()">
  <i class="fa-solid fa-plus ico"></i>
  <span>Добавить заметку</span>
</button>
<div class="notes-add-note-window"
     [class.hidden]="hideAddNoteWindow">
  <div class="notes-add-note-window-form">
    <div class="group">
      <span>Заголовок:</span>
      <input type="text" placeholder="Заметка">
    </div>
    <div class="group">
      <span>Приоритет:</span>
      <select>
        <option>Важный</option>
        <option>Средний</option>
        <option>Обычный</option>
      </select>
    </div>
    <textarea></textarea>
    <button (click)="onConfirmNoteClicked()">Добавить</button>
  </div>
</div>
