<h1>Заметки</h1>
<div class="notes-grid">
  <div class="note" severity="high">
    <div class="note-severity">
      <span>Важно</span>
    </div>
    <div class="note-head">
      <div class="note-head-line-decoration"></div>
      <div class="note-head-line-decoration"></div>
    </div>
    <div class="note-content">
      <div class="note-content-line-decoration"></div>
      <div class="note-content-title">
        <span>Зайти в учительскую</span>
      </div>
      <div class="note-content-text-preview"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
    </div>
  </div>
  <div class="note" severity="severe">
    <div class="note-severity">
      <span>Обратить внимание</span>
    </div>
    <div class="note-head">
      <div class="note-head-line-decoration"></div>
      <div class="note-head-line-decoration"></div>
    </div>
    <div class="note-content">
      <div class="note-content-line-decoration"></div>
      <div class="note-content-title no-bottom-margin">
        <span>Доклад</span>
      </div>
      <div class="note-content-text-preview">
        <span>Подготовить доклад на тему "Як жылi беларусы пад час...</span>
      </div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
    </div>
  </div>
  <div class="note" severity="low">
    <div class="note-severity">
      <span>Заметка</span>
    </div>
    <div class="note-head">
      <div class="note-head-line-decoration"></div>
      <div class="note-head-line-decoration"></div>
    </div>
    <div class="note-content">
      <div class="note-content-line-decoration"></div>
      <div class="note-content-title no-bottom-margin">
        <span>Поправить библиотечные кни...</span>
      </div>
      <div class="note-content-text-preview">
        <span>Переставить книги</span>
      </div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
    </div>
  </div>
  <div class="note" severity="low">
    <div class="note-severity">
      <span>Заметка</span>
    </div>
    <div class="note-head">
      <div class="note-head-line-decoration"></div>
      <div class="note-head-line-decoration"></div>
    </div>
    <div class="note-content">
      <div class="note-content-line-decoration"></div>
      <div class="note-content-title no-bottom-margin">
        <span>Попить чай с Семеном</span>
      </div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
      <div class="note-content-text-decoration"></div>
    </div>
  </div>
</div>
<button class="notes-add-btn">
  <i class="fa-solid fa-plus ico"></i>
  <span>Добавить заметку</span>
</button>
