*[page=notes] {
  --color-nts-content-fg: var(--color-white-b99);
  --color-nts-text-light: var(--color-white-h86-s3-b100);

  position: relative;
  width: 100%;
  height: 100%;
  color: var(--color-blue-h210-s41-b30);
}

*[page=notes] h1 {
  padding: 20px 30px;
  color: var(--color-grey-h120-b45);
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  padding: 0 30px;
}

.note {
  border-radius: 8px;
  background-color: var(--color-nts-content-fg);
  box-shadow: 0 0 6px -4px var(--color-grey);
  cursor: pointer;
}

.note.hidden {
  display: none;
}

.note-severity {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  font-size: 0.8rem;
  font-weight: bold;
}

.note-head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80px;
  color: var(--color-nts-text-light);
}

.note-head-line-decoration {
  margin-bottom: 10px;
  width: 50%;
  height: 10px;

  border-radius: 10px;
  background-color: var(--color-nts-content-fg);
}

.note-head-line-decoration:last-child {
  margin-bottom: 0;
  width: 40%;
}

.note[severity=high] .note-severity {
  color: #fc746f;
}

.note[severity=high] .note-head {
  background: linear-gradient(-45deg, #ffa099 0 50%, #fc746f 50% 100%);
}

.note[severity=severe] .note-severity {
  color: #f29272;
}

.note[severity=severe] .note-head {
  background: linear-gradient(-45deg, #ffbba1 0 50%, #f29272 50% 100%);
}

.note[severity=low] .note-severity {
  color: #92dea8;
}

.note[severity=low] .note-head {
  background: linear-gradient(-45deg, #c0ebcb 0 50%, #92dea8 50% 100%);
}

.note-content {
  padding: 15px 17%;
}

.note-content-line-decoration {
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background-color: #bcbcbc;
}

.note-content-title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.note-content-title.no-bottom-margin {
  margin-bottom: 6px;
}

.note-content-text-preview {
  font-size: 0.8rem;
  color: var(--color-grey-h120-b45);
}

.note-content-text-decoration {
  margin-top: 5px;
  width: 100%;
  height: 5px;

  border-radius: 5px;
  background-color: #e6e6e6;
}

.note-content-text-decoration:last-child {
  width: 75%;
}

.notes-add-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  padding: 8px 12px;

  color: var(--color-nts-text-light);
  font-size: 0.8rem;
  font-weight: bold;

  border: none;
  border-radius: 8px;

  background-color: var(--color-green-h132-s46-b74);
  box-shadow: 0 0 4px 0 var(--color-grey);
}

.notes-add-btn>.ico {
  margin-right: 6px;
}

.notes-add-note-window {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(125, 125, 125, 0.6);
}

.notes-add-note-window.hidden {
  display: none;
}

.notes-add-note-window-form {
  padding: 20px;
  font-size: 0.9rem;
  border-radius: 8px;
  background-color: #fefefe;
}

.notes-add-note-window-form > * {
  margin-bottom: 20px;
}

.notes-add-note-window-form * {
  outline: none;
}

.notes-add-note-window-form > .group > span {
  margin-right: 10px;
}

.notes-add-note-window-form > textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.notes-add-note-window-form > button {
  padding: 4px;
}
