.journals-list-item,
*[element=journals-list-item-loading-dummy] {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--padding-horizontal-item);
  margin-bottom: 5px;

  width: 100%;
  height: var(--height-item);

  font-size: 0.9rem;
  background-color: var(--color-fg);
  border: solid 1px var(--color-border);
  border-radius: var(--border-radius-item);
}

.journals-list-item:hover {
  box-shadow: 0 0 5px -3px var(--color-shadow);
}

.journals-list-item.clicked {
  border-color: var(--color-border-active);
}

.journals-list-item-group {
  display: flex;
  align-items: center;
}

.journals-list-item-group > * {
  margin-right: 15px;
}

.journals-list-item-group > .ico {
  padding-top: 1px;
  font-size: 0.85rem;
  color: var(--color-text-lighter);
}

.journals-list-item-group > .fa-sort {
  font-size: 0.75rem;
}
