<div class="journals-horizontal-container">
  <div class="journals-sub-container">
    <h1 class="journals-list-heading">
      {{ journalsListHeader }}
      <span class="journals-list-heading__hint">{{ journalsListHeaderHint }}</span>
    </h1>
    <ul>
      <li *ngFor="let journalPreview of journalsPreviews; let idx = index"
          element="journals-list-item"
          [id]="journalPreview.id"
          [journalFullName]="journalPreview.journalFullName"
          [listItemIndex]="idx + 1"></li>
    </ul>
  </div>
  <div class="journal-students-wrapper journals-sub-container">
    <div class="journal-students-searchbox">
      <input placeholder="Search">
      <button>Search</button>
    </div>
    <ul>
      <li *ngFor="let journalUserPreview of journalUsersPreviews; let idx = index"
          element="journal-students-item"
          [fullName]="journalUserPreview.fullName"
          [lastOnline]="journalUserPreview.lastOnline"
          [marker]="journalUserPreview.marker"
          [remarksAmount]="journalUserPreview.remarksAmount"></li>
    </ul>
  </div>
</div>


