<div class="card-wrapper">
  <div class="card-title">
    <div class="card-title_primary">математика</div>
    <div class="card-title_secondary">5а класс, каб. 113</div>
    <div class="card-activity-indicator-wrapper">
      <div class="card-activity-indicator"></div>
    </div>
  </div>
  <div class="card-content">
    <div class="card-timeline">
      <span>15:30</span>
      <div class="card-timeline-progress-bar"></div>
      <span>16:15</span>
    </div>
    <div class="card-participants">
      <div class="card-participant-wrapper">
        <img src="../../assets/images/avatar.jpg" alt="avatar"/>
      </div>
      <div class="card-participant-wrapper">
        <img src="../../assets/images/avatar.jpg" alt="avatar"/>
      </div>
      <div class="card-participant-wrapper">
        <img src="../../assets/images/avatar.jpg" alt="avatar"/>
      </div>
      <div class="card-participant-wrapper">
        <img src="../../assets/images/avatar.jpg" alt="avatar"/>
      </div>
      <div class="card-participant-wrapper">
        <img src="../../assets/images/avatar.jpg" alt="avatar"/>
      </div>
      <span class="card-participants-counter">+9 участников</span>
    </div>
    <div class="card-tags">
      <div class="card-tag tag-red">Матем</div>
      <div class="card-tag tag-yellow">УрокUrok</div>
      <div class="card-tag tag-green">Длинный тег тут</div>
    </div>
  </div>
</div>
