<div class="logo-bar">
  <div class="logo-wrapper">
    <img src="../../assets/icons/icon-logo.png" alt=""/>
    <!-- TODO: replace with dynamic link -->
    <!-- TODO: set home page link -->
  </div>
  <a class="logo-bar__text open-sans--bold-italic"  href="#">Ассистент</a>  <!-- TODO: replace with dynamic property -->
</div>

<div class="activity-bar">  <!-- Remake to buttons -->
  <i class="fa-solid fa-bell ico ico--light"></i>
  <span class="activity__text">Активность</span>
</div>

<div class="header__free-space"></div>

<div class="actions-bar">
  <button class="search-btn">
    <i class="fa-solid fa-gear ico ico--light"></i>
  </button>
  <div class="notificatons-wrapper">
    <button class="notificatons-btn">
      <i class="fa-solid fa-bell ico ico--light"></i>  <!-- TODO: replace with approp. icon -->
    </button>
  </div>
  <button class="search-btn">
    <i class="fa-solid fa-magnifying-glass ico ico--light"></i>  <!-- TODO: replace with approp. icon -->
  </button>
  <div class="log-in-wrapper" (click)="onLoginClicked()">
    <div class="avatar-wrapper admin">
      <img src="../../assets/images/red-star.png" alt="avatar"/>
    </div>
    <span class="nickname">admin_8125</span>
    <i class="fa-solid fa-caret-down ico ico--light"></i>
  </div>
</div>

<div class="header-logout" *ngIf="showExitBtn" (click)=onExitClicked()>
  <span>Выйти</span>
</div>
