<div class="logo-bar">
  <div class="logo-wrapper">
    <img src="../../assets/icons/icon-logo.png" alt=""/>
    <!-- TODO: replace with dynamic link -->
    <!-- TODO: set home page link -->
  </div>
  <a class="logo-bar__text open-sans--bold-italic"  href="#">Ассистент</a>  <!-- TODO: replace with dynamic property -->
</div>

<div class="activity-bar">
  <i class="fa-solid fa-bell ico ico--light"></i>
  <span class="activity__text">Активность</span>
</div>

<div class="header__free-space"></div>

<div class="actions-bar">
  <div class="notificatons-wrapper">
    <button class="notificatons-btn">
      <i class="fa-solid fa-bell ico ico--light"></i>  <!-- TODO: replace with approp. icon -->
    </button>
  </div>
  <button class="search-btn">
    <i class="fa-solid fa-bell ico ico--light"></i>  <!-- TODO: replace with approp. icon -->
  </button>
  <div class="log-in-wrapper">
    <div class="avatar-wrapper">
      <img src="../../assets/images/avatar.jpg" alt="avatar"/>
    </div>
    <span class="nickname">qwerty_uiop_asd_zxcasdasd</span>
  </div>
</div>
