<div class="card-details-container">
  <button class="card-details-close-btn">
    <i class="fa-solid fa-xmark ico"></i>
  </button>

  <div class="card-details-partition partition-left">
    <h1 class="card-details-heading">[Android] Бесконечный репрайс на оплате</h1>
    <div class="card-details-metadata">
      <a class="card-details-metadata__number" href="">#403506</a>
      <span class="card-details-metadata__action-performer-role">Создатель</span>
      <a class="card-details-metadata__action-performer" href="">Anastsia Maksimenko,</a>
      <span class="card-details-metadata__action">создано</span>
      <span class="card-details-metadata__action-datetime">8 минут назад</span>
    </div>

    <div class="card-details-control-panel">
      <button class="card-details-control-panel__add-btn">
        <i class="fa-solid fa-plus ico"></i>
      </button>
      <div class="card-details-control-panel-group">
        <button class="card-details-control-panel__status-btn">
          <i class="fa-solid fa-play ico"></i>
          <span>Идёт сейчас</span>
        </button>
        <button class="card-details-control-panel__report-btn">
          <i class="fa-solid fa-circle-exclamation ico"></i>
        </button>
        <button class="card-details-control-panel__share-btn">
          <i class="fa-solid fa-share-nodes ico"></i>
        </button>
        <button class="card-details-control-panel__options-btn">
          <i class="fa-solid fa-ellipsis-vertical ico"></i>
        </button>
      </div>
    </div>

    <ul class="card-details-properties">
      <li class="card-details-property">
        <span class="card-details-property-key">Расположение</span>
        <span class="card-details-property-value">Сентябрь 2023 г, 1-я неделя</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Тип</span>
        <span class="card-details-property-value">Урок</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Участники</span>
        <span class="card-details-property-value">1, 2 , 3, 4, 5 ,6</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Теги</span>
        <span class="card-details-property-value">Тег1, Тег2, Тег3</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Время начала</span>
        <span class="card-details-property-value">15:30</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Время окончания</span>
        <span class="card-details-property-value">16:15</span>
      </li>
    </ul>

    <div class="card-details-description">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-bars-staggered ico"></i>
        </div>
        <h2>Описание</h2>
      </div>

      <span>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </span>
    </div>

    <div class="card-details-attachments">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-paperclip ico"></i>
        </div>
        <h2>Прикреплённые файлы</h2>
      </div>
      <ul class="card-details-attachments-list">
        <li class="card-details-attachment">
          <div class="card-details-attachment-preview">
            <!-- <img src="#" alt="CHLS"> -->
            <span>CHLS</span>
          </div>
          <div class="card-details-attachment-metadata">
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-name">21marchpet.chls</span>
              <span card-item-id="attachment-metadata-size">(225.35 KB)</span>
            </div>
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-date">Added a day ago,</span>
              <span card-item-id="attachment-metadata-author">Anastasia Maksimenko</span>
            </div>
          </div>
        </li>
        <li class="card-details-attachment">
          <div class="card-details-attachment-preview">
            <!-- <img src="#" alt="CHLS"> -->
            <span>CHLS</span>
          </div>
          <div class="card-details-attachment-metadata">
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-name">21marchpet.chls</span>
              <span card-item-id="attachment-metadata-size">(225.35 KB)</span>
            </div>
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-date">Added a day ago,</span>
              <span card-item-id="attachment-metadata-author">Anastasia Maksimenko</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-details-links">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-diagram-project ico"></i>
        </div>
        <h2>Ссылки</h2>
      </div>

      <span>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </span>
    </div>
  </div>

  <div class="card-details-partition partition-right"></div>
</div>
