<div class="card-details-container">
  <button class="card-details-close-btn" (click)="closeBtnClick()">
    <i class="fa-solid fa-xmark ico"></i>
  </button>

  <div class="card-details-partition partition-left">
    <h1 class="card-details-heading">Предмет</h1>
    <div class="card-details-metadata">
      <a class="card-details-metadata__number" href="">#513509</a>
      <span class="card-details-metadata__action-performer-role">Создатель</span>
      <a class="card-details-metadata__action-performer" href="">Teacher Test,</a>
      <span class="card-details-metadata__action">создано</span>
      <span class="card-details-metadata__action-datetime">только что</span>
    </div>

    <div class="card-details-control-panel">
      <button class="card-details-control-panel__add-btn"
              (click)="onAddBtnClicked()">
        <select class="options"
                [class.hidden]="hideOptions"
                [(ngModel)]="selectedValue"
                (change)="onSelect()">
          <option value="" selected="{{ selectedValue === '' }}">- Выберите элемент -</option>
          <option value="tags">Теги</option>
          <option value="part">Участники</option>
          <option value="desc">Описание</option>
          <option value="files">Прикреплённые файлы</option>
          <option value="links">Ссылки</option>
          <option value="todo">Цели</option>
        </select>
        <i class="fa-solid fa-plus ico"></i>
      </button>
      <div class="card-details-control-panel-group">
        <button class="card-details-control-panel__status-btn">
          <i class="fa-solid fa-play ico"></i>
          <span>Идёт сейчас</span>
        </button>
        <button class="card-details-control-panel__report-btn">
          <i class="fa-solid fa-circle-exclamation ico"></i>
        </button>
        <button class="card-details-control-panel__share-btn">
          <i class="fa-solid fa-share-nodes ico"></i>
        </button>
        <button class="card-details-control-panel__options-btn">
          <i class="fa-solid fa-ellipsis-vertical ico"></i>
        </button>
      </div>
    </div>

    <ul class="card-details-properties">
      <li class="card-details-property">
        <span class="card-details-property-key">Расположение</span>
        <span class="card-details-property-value">Сентябрь 2023 г, 1-я неделя</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Тип</span>
        <span class="card-details-property-value">Урок</span>
      </li>
      <li class="card-details-property" *ngIf="!hidePartic">
        <span class="card-details-property-key">Участники</span>
        <span class="card-details-property-value participants" *ngIf="!hideParticContent">
          <div class="card-participant-wrapper">
            <img src="../../assets/images/avatar.jpg" alt="avatar"/>
          </div>
          <div class="card-participant-wrapper">
            <img src="../../assets/images/avatar.jpg" alt="avatar"/>
          </div>
          <div class="card-participant-wrapper">
            <img src="../../assets/images/avatar.jpg" alt="avatar"/>
          </div>
          <div class="card-participant-wrapper">
            <img src="../../assets/images/avatar.jpg" alt="avatar"/>
          </div>
          <div class="card-participant-wrapper">
            <img src="../../assets/images/avatar.jpg" alt="avatar"/>
          </div>
          <span class="card-participants-counter">+23 участников</span>
        </span>
      </li>
      <li class="card-details-property" *ngIf="!hideTags">
        <span class="card-details-property-key">Теги</span>
        <span class="card-details-property-value tags">
          <div class="card-details-property-tag-input" *ngIf="!hideTagsInput">
            <input type="text">
            <button (click)="onTagConfirm()">Добавить</button>
          </div>
          <div class="card-tag tag-red" *ngIf="!hideTagsContent">Матем</div>
        </span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Время начала</span>
        <span class="card-details-property-value">8:00</span>
      </li>
      <li class="card-details-property">
        <span class="card-details-property-key">Время окончания</span>
        <span class="card-details-property-value">8:45</span>
      </li>
    </ul>

    <div class="card-details-description"
         id="descr"
         [class.hidden]="hideDescription">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-bars-staggered ico"></i>
        </div>
        <h2>Описание</h2>
      </div>

      <div class="card-details-description-content"
           [class.hidden]="hideDescriptionContent">
        <textarea></textarea>
        <button (click)="onDescConfirm()">Добавить</button>
      </div>
      <span [class.hidden]="hideDescriptionText">
        Описание для урока!!!
      </span>
    </div>

    <div class="card-details-attachments"
         [class.hidden]="hideFiles">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-paperclip ico"></i>
        </div>
        <h2>Прикреплённые файлы</h2>
      </div>
      <div class="card-details-attachments-selector"
           [class.hidden]="hideFilesSelection">
        <div>
          <span class="att-selected" [class.hidden]="hideKaterina">Katerina.pdf </span>
          <span class="att-selected" [class.hidden]="hideDemid">+ Демидович.pdf</span>
        </div>
        <select [(ngModel)]="attSelect" (change)="onAttSelect()">
          <option value="" selected="{{ attSelect === '' }}">- Выберите файл -</option>
          <option value="kat">Katerina.pdf</option>
          <option value="dem">Демидович.pdf</option>
        </select>
        <button (click)="onFilesConfirm()">Добавить</button>
      </div>
      <ul class="card-details-attachments-list"
          [class.hidden]="hideFilesContent">
        <li class="card-details-attachment">
          <div class="card-details-attachment-preview">
            <div class="card-details-attachment-decoration"></div>
            <!-- <img src="#" alt="CHLS"> -->
            <span>PDF</span>
          </div>
          <div class="card-details-attachment-metadata">
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-name">Katerina.pdf</span>
              <span card-item-id="attachment-metadata-size">(225.35 KB)</span>
            </div>
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-date">Добавлено 5 мин. назад,</span>
              <span card-item-id="attachment-metadata-author">Teacher Test</span>
            </div>
          </div>
        </li>
        <li class="card-details-attachment">
          <div class="card-details-attachment-preview">
            <div class="card-details-attachment-decoration"></div>
            <!-- <img src="#" alt="CHLS"> -->
            <span>PDF</span>
          </div>
          <div class="card-details-attachment-metadata">
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-name">Демидович.pdf</span>
              <span card-item-id="attachment-metadata-size">(2.12 MB)</span>
            </div>
            <div class="card-details-attachment-metadata-row">
              <span card-item-id="attachment-metadata-date">Добавлено 2023-05-01,</span>
              <span card-item-id="attachment-metadata-author">Федченко Жанна</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-details-links"
         [class.hidden]="hideLinks">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-diagram-project ico"></i>
        </div>
        <h2>Ссылки</h2>
      </div>
      <div class="card-details-links-input"
           [class.hidden]="hideLinksInput">
        <span class="separ-hint">Для разделения ссылок используйте перенос строки</span>
        <textarea></textarea>
        <button (click)="onLinksConfirm()">Добавить</button>
      </div>
      <span class="linkk"
            [class.hidden]="hideLinksContent">
        http://localhost:8080/some-link
      </span>
      <span class="linkk"
            [class.hidden]="hideLinksContent">
        http://localhost:8080/another-link
      </span>
    </div>
  </div>

  <div class="card-details-partition partition-right">
    <div class="card-details-todo-section"
         [class.hidden]="hideTodo">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-list-check ico"></i>
        </div>
        <h2>Цели</h2>
      </div>
      <div class="card-details-todo-input"
           [class.hidden]="hideTodoInput">
        <span class="separ-hint">Для разделения целей используйте перенос строки</span>
        <textarea></textarea>
        <button (click)="onTodoConfirm()">Добавить</button>
      </div>
      <ul [class.hidden]="hideTodoContent">
        <li class="card-details-todo-goal pending">
          <div class="card-details-todo-status-icon">
            <i class="fa-solid fa-minus ico"></i>
          </div>
          <span>Подготовить доклад к уроку</span>
        </li>
        <li class="card-details-todo-goal pending">
          <div class="card-details-todo-status-icon">
            <i class="fa-solid fa-minus ico"></i>
          </div>
          <span>qwertyuiop</span>
        </li>
      </ul>
    </div>

    <div class="card-details-comments">
      <div class="card-details-h2-wrapper">
        <div class="card-details-h2-icon">
          <i class="fa-solid fa-comment-dots"></i>
        </div>
        <h2>Комментарии</h2>
      </div>
      <div class="card-details-comments-textbox">
        <div class="card-details-comments-message-block_avatar-wrapper">
          <img src="http://flatfull.com/themes/note/images/avatar_default.jpg" alt="avatar"/>
        </div>
        <div class="card-details-comments-textarea-wrapper">
          <textarea class="card-details-comments-textarea"
                    type="text"
                    placeholder="Комментарий..."
                    [(ngModel)]="commentText"></textarea>
          <span class="card-details-comments-textarea-hint">Текст комментария не может быть пустым</span>
        </div>
        <div class="card-details-comments-textbox-control-block">
          <button (click)="onCommentConfirm()">
            <i class="fa-solid fa-paper-plane ico"></i>
          </button>
          <button>
            <i class="fa-solid fa-xmark ico"></i>
          </button>
        </div>
      </div>
      <div class="card-details-comments-section"
           [class.hidden]="hideComment">
        <div class="card-details-comment">
          <div class="card-details-comments-message-block_avatar-wrapper">
            <img src="http://flatfull.com/themes/note/images/avatar_default.jpg" alt="avatar"/>
          </div>
          <div class="card-details-comment-data">
            <div class="card-details-comment-info">
              <span class="card-details-comment-info-author">Teacher Test</span>
              <span class="card-details-comment-info-datetime">только что</span>
            </div>
            <div class="card-details-comment-text">
              Какой-то комментарий
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="participants-input" *ngIf="!hideParticInput && !hidePartic">
  <div class="participants-input-form">
    <div>
      <span>Класс</span>
      <input type="text" max="2">
    </div>
    <div>
      <span>Кабинет</span>
      <input type="number">
    </div>
    <button (click)="onPartConfirm()">Добавить класс</button>
  </div>
</div>
