<div class="projects-panel">
  <div class="projects-panel__controls">
    <button class="add-project-btn">
      <i class="fa-solid fa-plus ico ico--light"></i>
    </button>
    <div class="projects-picker">
      <span>Проект-имя</span>  <!-- TODO: Replace with dynamic variable -->
      <i class="fa-solid fa-caret-down ico"></i>
    </div>
  </div>
</div>

<nav class="navigation-panel">
  <ul class="navigation-options-list">
    <li nav-id="curriculum" class="navigation-option">
      <div class="navigation-option__icon">
        <div class="navigation-option__icon-bg"></div>
        <i class="fa-solid fa-calendar-check ico ico--light"></i>
      </div>
      <span>Учебный план</span>  <!-- TODO: Replace with dynamic variable -->
      <i class="fa-solid fa-angle-down ico ico--light"></i>
    </li>
    <li nav-id="resources" class="navigation-option" selected>
      <div class="navigation-option__icon">
        <div class="navigation-option__icon-bg"></div>
        <i class="fa-solid fa-book-open ico ico--light"></i>
      </div>
      <span>Учебные ресурсы</span>  <!-- TODO: Replace with dynamic variable -->
      <i class="fa-solid fa-angle-down ico ico--light"></i>
    </li>
    <li nav-id="journals" class="navigation-option">
      <div class="navigation-option__icon">
        <div class="navigation-option__icon-bg"></div>
        <i class="fa-solid fa-address-book ico ico--light"></i>
      </div>
      <span>Журналы</span>  <!-- TODO: Replace with dynamic variable -->
      <i class="fa-solid fa-angle-down ico ico--light"></i>
    </li>
    <li nav-id="messages" class="navigation-option">
      <div class="navigation-option__icon">
        <div class="navigation-option__icon-bg"></div>
        <i class="fa-solid fa-envelope ico ico--light"></i>
      </div>
      <span>Сообщения</span>  <!-- TODO: Replace with dynamic variable -->
      <i class="fa-solid fa-angle-down ico ico--light"></i>
    </li>
    <li nav-id="notes" class="navigation-option">
      <div class="navigation-option__icon">
        <div class="navigation-option__icon-bg"></div>
        <i class="fa-solid fa-file-pen ico ico--light"></i>
      </div>
      <span>Заметки</span>  <!-- TODO: Replace with dynamic variable -->
      <i class="fa-solid fa-angle-down ico ico--light"></i>
    </li>
  </ul>
</nav>

<div class="navigation-panel__free-space"></div>

<div class="communication-panel">
  <ul class="communication-options-list">
    <li>
      <button class="communication-option">
        <i class="fa-solid fa-comment ico ico--light"></i>
      </button>
    </li>
    <li>
      <button class="communication-option">
        <i class="fa-brands fa-facebook-f ico ico--light"></i>
      </button>
    </li>
  </ul>
  <button class="communication-panel-controls">
    <i class="fa-solid fa-angle-left ico ico--light"></i>
  </button>
</div>
