<div class="journals-horizontal-container">
  <div class="journals-sub-container">
    <h1 class="journals-list-heading">
      {{ journalsListHeader }}
      <span class="journals-list-heading__hint">{{ journalsListHeaderHint }}</span>
    </h1>
    <ul>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
      <li element="journals-list-item"></li>
    </ul>
  </div>
  <div class="journal-students-wrapper journals-sub-container">
    <div class="journal-students-searchbox">
      <input placeholder="Search">
      <button>Search</button>
    </div>
    <ul>
      <li element="journal-students-item"></li>
    </ul>
  </div>
</div>


