<div class="messages-nav-panel">
  <div class="messages-nav-panel-head">
    <h1>Сообщения</h1>
    <button>
      <i class="fa-solid fa-plus ico"></i>
    </button>
  </div>
  <ul class="messages-nav-panel-option-list">
    <li class="messages-nav-panel-option">
      <div class="option-content-group">
        <i class="fa-solid fa-inbox ico"></i>
        <span>Входящие</span>
      </div>
      <div class="option-content-marker">99</div>
    </li>
    <li class="messages-nav-panel-option selected">
      <div class="option-content-group">
        <i class="fa-regular fa-envelope ico"></i>
        <span>Отправленные</span>
      </div>
    </li>
    <li class="messages-nav-panel-option">
      <div class="option-content-group">
        <i class="fa-regular fa-bookmark ico"></i>
        <span>Важные</span>
      </div>
      <div class="option-content-marker">3</div>
    </li>
    <li class="messages-nav-panel-option">
      <div class="option-content-group">
        <i class="fa-solid fa-pencil ico"></i>
        <span>Черновики</span>
      </div>
      <div class="option-content-marker hidden">1</div>
    </li>
    <li class="messages-nav-panel-option">
      <div class="option-content-group">
        <i class="fa-solid fa-circle-exclamation ico"></i>
        <span>Спам</span>
      </div>
      <div class="option-content-marker">12</div>
    </li>
  </ul>
  <h3>Теги</h3>
  <ul class="messages-nav-panel-option-list">
    <li class="messages-nav-panel-option">
      <span>Рабочие</span>
      <div class="option-content-marker tag-marker red"></div>
    </li>
    <li class="messages-nav-panel-option">
      <span>Приватные</span>
      <div class="option-content-marker tag-marker blue"></div>
    </li>
    <li class="messages-nav-panel-option">
      <span>Ученики</span>
      <div class="option-content-marker tag-marker green"></div>
    </li>
  </ul>
</div>
<div class="messages-main">
  <div class="messages-main-controls">
    <div class="messages-main-controls-group">
      <button class="filter-btn">
        <span>Фильтр</span>
      </button>
      <button class="refresh-btn">
        <i class="fa-solid fa-rotate ico"></i>
      </button>
    </div>
    <div class="messages-main-controls-group">
      <button>
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="messages-main-body">
    <ul>
      <li class="messages-main__message">
        <div class="avatar-wrapper">
          <img _ngcontent-rud-c18="" src="../../assets/images/avatar.jpg" alt="avatar">
        </div>
        <span class="sender-name">Екатерина Зубкова</span>
        <div class="tag">Рабочие</div>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</span>
        <span class="datetime">2ч назад</span>
      </li>
      <li class="messages-main__message">
        <div class="avatar-wrapper">
          <img _ngcontent-rud-c18="" src="http://flatfull.com/themes/note/images/avatar_default.jpg" alt="avatar">
        </div>
        <span class="sender-name">Петр Сидоров</span>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</span>
        <span class="datetime">2023-05-15 15:22</span>
      </li>
      <li class="messages-main__message">
        <div class="avatar-wrapper">
          <img _ngcontent-rud-c18="" src="../../assets/images/avatar.jpg" alt="avatar">
        </div>
        <span class="sender-name">Александра Швец</span>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</span>
        <span class="datetime">2023-05-14 11:20</span>
      </li>
    </ul>
  </div>
  <form class="messages-main-search">
    <input type="search" placeholder="Поиск..."/>
    <button class="search-btn">
      <i class="fa-solid fa-magnifying-glass ico"></i>
    </button>
  </form>

</div>
<div class="messages-contacts-panel">
  <div class="messages-contacts-panel-head">
    <span>Контакты</span>
    <span>(5)</span>
  </div>
  <div class="messages-contacts-panel-body">
    <ul>
      <li class="messages-contacts-panel__contact">
        <div class="tag-marker green"></div>
        <span>Иван Иванов</span>
      </li>
      <li class="messages-contacts-panel__contact">
        <div class="tag-marker"></div>
        <span>Петр Петров</span>
      </li>
      <li class="messages-contacts-panel__contact">
        <div class="tag-marker"></div>
        <span>Сидор Сидоров</span>
      </li>
      <li class="messages-contacts-panel__contact">
        <div class="tag-marker green"></div>
        <span>Ысламбек Ванов</span>
      </li>
    </ul>
  </div>
  <div class="messages-contacts-panel-controls">
    <button>
      <i class="fa-solid fa-plus ico"></i>
      <span>Добавить</span>
    </button>
  </div>
</div>
