*[page=messages] {
  --color-white-bg: var(--color-white-b99);
  --color-border: var(--color-white-b87);
  --color-shadow: var(--color-grey);

  --color-msg-text-grey: var(--color-grey-text);
  --color-msg-text-light: var(--color-white-h86-s3-b100);
  --color-msg-text-dark: var(--color-blue-h210-s41-b30);

  --color-msg-head-bg: #ebebeb;

  --padding-nav-panel-vertical: 12px;
  --padding-nav-panel-horizontal: 15px;

  --height-btn-default: 28px;
  --height-head: 48px;
  --height-footer: 60px;

  position: relative;
  display: flex;
  align-items: stretch;

  width: 100%;
  height: 100%;

  font-size: 0.80rem;
}

*[page=messages] button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--height-btn-default);
  height: var(--height-btn-default);

  border: solid 1px var(--color-border);
  border-radius: 2px;

  color: var(--color-msg-text-grey);
  background-color: var(--color-white-b99);  /* TODO replace */
  box-shadow: 0 1px 3px -2px var(--color-shadow);
}

.messages-nav-panel {
  flex: 0 0 auto;
  width: 250px;
  background-color: var(--color-white-bg);
  border-right: solid 1px var(--color-border);
}

.messages-nav-panel > h3 {
  margin: var(--padding-nav-panel-horizontal) 0;
  padding: 0 var(--padding-nav-panel-horizontal);

  font-size: 0.8rem;
  color: var(--color-msg-text-grey);
}

.messages-nav-panel-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--padding-nav-panel-vertical) var(--padding-nav-panel-horizontal);
  color: var(--color-msg-text-grey);
}

.messages-nav-panel-head > h1 {
  font-size: 1.2rem;
  font-weight: normal;
}

.messages-nav-panel-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-nav-panel-vertical) var(--padding-nav-panel-horizontal);
}

.messages-nav-panel-option > .option-content-group {
  display: flex;
}

.messages-nav-panel-option > .option-content-group > *:not(:first-child) {
  margin-left: 8px;
}

.messages-nav-panel-option > .option-content-group > .ico {
  padding-top: 2px;
  font-size: 0.8rem;
}

.messages-nav-panel-option.selected {
  color: var(--color-msg-text-light);
  background-color: var(--color-cyan-h180-s60-b75);
}

.messages-nav-panel-option > .option-content-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 1px;
  width: 20px;
  height: 17px;

  border: solid 1px var(--color-border);
  border-radius: 9px;

  color: var(--color-msg-text-dark);
  font-weight: bold;
  font-size: 0.65rem;
}

.messages-nav-panel-option.selected > .option-content-marker {
  background-color: #fefefe;
}

.messages-nav-panel-option > .option-content-marker.hidden {
  display: none;
}

.messages-nav-panel-option > .option-content-marker.tag-marker {
  width: 12px;
  height: 12px;
}

.tag-marker.red {
  background-color: var(--color-bg-notifications);
}

.tag-marker.blue {
  background-color: var(--color-msg-text-dark);
}

.tag-marker.green {
  background-color: var(--color-green-h132-s46-b74);
}

.messages-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.messages-main-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-nav-panel-horizontal);

  flex: 0 0 auto;
  width: 100%;
  height: var(--height-head);
  background-color: var(--color-msg-head-bg);
}

.messages-main-controls-group {
  display: flex;
}

.messages-main-controls-group > .filter-btn {
  padding: 8px;
  width: max-content;
}

.messages-main-controls-group > .refresh-btn {
  margin-left: 8px;
}

.messages-main-body {
  flex: 1 1 100%;
}

.messages-main__message {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-nav-panel-horizontal);

  height: var(--height-head);
  border-bottom: solid 1px var(--color-border);
}

.messages-main__message > * {
  margin-right: 8px;
}

.messages-main__message > .avatar-wrapper {
  flex: 0 0 max-content;
  height: 50%;
}

.messages-main__message > .avatar-wrapper > img {
  height: 100%;
}

.messages-main__message > .sender-name {
  flex: 0 0 max-content;
  font-weight: bold;
}

.messages-main__message > .datetime {
  display: flex;
  justify-content: end;
  flex: 1 1 max-content;
  color: var(--color-msg-text-grey)
}

.messages-main__message > .tag {
  padding: 1px 2px;
  flex: 0 0 max-content;
  width: max-content;

  border-radius: 4px;
  color: var(--color-msg-text-light);
  background-color: var(--color-bg-green);
}

.messages-main-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-nav-panel-horizontal);

  flex: 0 0 auto;
  height: var(--height-footer);
  background-color: var(--color-white-bg);
  border-top: solid 1px var(--color-border);
}

.messages-main-search > input {
  flex: 1 1 100%;
  height: var(--height-btn-default);
  border: solid 1px var(--color-border);
  outline: none;
}

.messages-main-search > input:focus {
  border-color: var(--color-cyan-h180-s60-b75);  /* TODO replace */
}

.messages-main-search > .search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.messages-contacts-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 220px;
  border-left: solid 1px var(--color-border);
}

.messages-contacts-panel-head {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-nav-panel-horizontal);

  flex: 0 0 auto;
  height: var(--height-head);
  color: var(--color-msg-text-grey);
  background-color: var(--color-msg-head-bg);
}

.messages-contacts-panel-body {
  flex: 1 1 100%;
}

.messages-contacts-panel__contact {
  display: flex;
  align-items: center;
  padding: var(--padding-nav-panel-horizontal);

  height: 30px;
  color: var(--color-msg-text-grey);
}

.messages-contacts-panel__contact.hidden {
  display: none;
}

.messages-contacts-panel__contact:nth-child(2n) {
  background-color: #eaeaea;
}


.messages-contacts-panel__contact > .tag-marker {
  margin-right: 6px;
  width: 10px;
  height: 10px;

  border-radius: 6px;
  background-color: var(--color-bg-notifications);
}

.messages-contacts-panel__contact > .tag-marker.green {
  background-color: var(--color-bg-green);
}

.messages-contacts-panel-controls {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 auto;
  height: var(--height-footer);
  background-color: var(--color-white-bg);
  border-top: solid 1px var(--color-border);
}

.messages-contacts-panel-controls > button {
  padding: 0 8px;
  width: max-content;

  border: none;
  color: var(--color-msg-text-light);
  background-color: var(--color-bg-green);
}

.messages-contacts-panel-controls > button > .ico {
  margin-right: 6px;
}

.messages-add-contact-panel {
  position: absolute;
  bottom: 100px;
  right: 30px;

  display: flex;
  align-items: center;
  padding: 15px;

  border-radius: 6px;
  background-color: #fefefe;
  box-shadow: 0 0 6px -4px var(--color-grey);
}

.messages-add-contact-panel.hidden {
  display: none;
}

.messages-add-contact-panel > input {
  outline: none;
}

.messages-add-contact-panel > button {
  margin-left: 4px;
  padding: 4px;
  width: max-content;
}

.messages-new-message-window {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(125, 125, 125, 0.6);
}

.messages-new-message-window.hidden {
  display: none;
}

.messages-new-message-window-form {
  padding: 30px;
  width: 50%;
  height: 80%;

  border-radius: 8px;
  background-color: #fefefe;
}

.messages-new-message-window-form__receiver {
  display: flex;
  justify-content: space-between;

  width: 100%;
  font-size: 1rem;
}

.messages-new-message-window-form > textarea {
  margin-top: 30px;
  width: 100%;
  height: 80%;
  resize: none;
}

.messages-new-message-window-form > button {
  margin-top: 15px;
  padding: 4px;
  width: max-content;
}
