<div class="breadcrumbs-wrapper">
  <div class="breadcrumb-with-icon">
    <i class="fa-solid fa-house-chimney ico ico--dark-inactive"></i>
    <a class="breadcrumb">Главная</a>  <!-- TODO: replace with dynamic value -->
  </div>
  <div class="breadcrumb-with-icon">
    <i class="fa-solid fa-calendar-check ico ico--dark-inactive"></i>
    <a class="breadcrumb" href="#">Учебный план</a>
  </div>
  <!-- <div class="breadcrumb-with-icon">
    <i class="fa-solid fa-address-book ico ico--dark-inactive"></i>
    <a class="breadcrumb" href="#">Журналы</a>
  </div> -->
  <a class="breadcrumb" href="#">Сентябрь</a>
</div>
