<div class="sign-in-page-container">
  <h1>Ассистент</h1>
  <form class="sign-in-form">
    <h2>Войти</h2>
    <div class="form-blocks">
      <div class="form-input-fields-block">
        <label for="signInFormUsername">Имя пользователя</label>
        <div class="form-input-wrapper">
          <input id="signInFormUsername" type="text" placeholder="Имя пользователя"/>
          <button><i class="fa-solid fa-xmark ico"></i></button>
        </div>
        <span>Недопустимые символы в имени пользователя</span>
      </div>
      <div class="form-input-fields-block">
        <label for="signInFormPassword">Пароль</label>
        <div class="form-input-wrapper">
          <input id="signInFormPassword" type="text" placeholder="Пароль"/>
          <button><i class="fa-solid fa-xmark ico"></i></button>
        </div>
        <!-- <span>Неверный пароль или имя пользователя</span> -->
      </div>
      <div class="form-input-remember-me">
        <input id="signInFormRememberMe" class="form-input-remember-me" type="checkbox" checked/>
        <label for="signInFormRememberMe">Запомнить меня</label>
      </div>
      <div class="form-input-controls">
        <button (click)="onCloseLogin()">Войти</button>
        <a href="#">Забыли пароль?</a>
      </div>
      <div class="form-separator"></div>
      <span class="form-suggest-text">Нет аккаунта?</span>
      <button class="form-suggest-action">Создать аккаунт</button>
    </div>
  </form>
</div>
