@import "./app/app.component.css";
@import "./app/header/header.component.css";
@import "./app/navigation/navigation.component.css";

@font-face {
  font-family: 'Open Sans';
  src:
    url("assets/fonts/OpenSans/OpenSans-Italic.ttf"),
    url("assets/fonts/OpenSans/OpenSans-Bold-Italic.ttf");
    /* TODO: replace with dynamic link */
}
@font-face {
  font-family: 'Ubuntu';
  src:
    url("assets/fonts/Ubuntu/Ubuntu.ttf"),
    url("assets/fonts/Ubuntu/Ubuntu-Italic.ttf");
    /* TODO: replace with dynamic link */
}

* {
  --color-bg-dark: #25313e;
  --color-bg-darker: #1b252e;
  --color-bg-pane: #374b5e;
  --color-bg-notifications: #fb6b5b;

  --color-text-light: #adbece;
  --color-text-light-hover: #fbfff6;
  --color-text-dark: #8d8276;
  --color-text-darker: #747574;

  --color-bg-green: #89cc97;
  --color-bg-green-dark: #65bd77;
  --color-bg-green-darker: #53b567;

  box-sizing: border-box;

  font-family: 'Ubuntu', 'Open Sans', Tahoma, sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
}

button {
  margin: 0;
  padding: 0;
}

/* Font settings start */
.open-sans--bold-italic {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
}

.open-sans--italic {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-style: italic;
}
/* Font settings end */

/* Icons settings start */
.ico {
  display: flex;
  align-items: center;
  height: 100%;  /* Customized through parent element */
}

.ico--light {
  color: var(--color-text-light);
}
/* Icons settings end */
