/* Requires parent.position = relative */
/* Override class 'tooltip-position' to set tooltip position */
.tooltip {
  position: absolute;
  z-index: var(--z-index-max-value);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;

  width: max-content;
  max-width: 400px;

  border-radius: 4px;
  background-color: var(--color-white-b99);
  box-shadow: 0 1px 5px -3px var(--color-text-inactive);
}

.tooltip-pointer-holder {
  position: relative;
  width: 0px;
}

.tooltip-pointer {
  position: absolute;
  width: 12px;
  height: 12px;

  background-color: var(--color-white-b99);
  box-shadow: 1px 1px 5px -3px var(--color-text-inactive);
  border-bottom-right-radius: 4px;
  transform: rotate(45deg);
}

.tooltip-text {
  font-size: 0.75rem;
}

.tooltip-strong-text {
  font-weight: bold;
  margin-right: 4px;
}

.tooltip > .ico {
  display: none;
  margin-right: 10px;
}

/* Overrides for WARNING */
.tooltip.warning {
  border: solid 1px var(--color-orange-h42-s80-b100);
}

.tooltip.warning .tooltip-pointer {
  display: block;
  border-right: solid 1px var(--color-orange-h42-s80-b100);
  border-bottom: solid 1px var(--color-orange-h42-s80-b100);
}

.tooltip.warning .tooltip-strong-text {
  color: var(--color-orange-h42-s80-b100);
}

.tooltip.warning > .ico {
  display: flex;
  color: var(--color-orange-h42-s80-b100);
}

*[page=library] {
  --color-text: var(--color-grey-h120-b45);
  --color-text-strong: var(--color-blue-h210-s41-b30);
  --color-border: var(--color-white-b87);
  --color-fg-content: var(--color-white-b99);

  --border-ctl: solid 1px var(--color-white-b87);
  --border-radius-ctl: 4px;

  position: relative;
  padding: 40px 50px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

*[page=library] p {
  margin: 0;
}

.library-heading {
  margin-bottom: 60px;
  padding: 0 20%;

  color: var(--color-text);
  text-align: center;
}

.library-heading > h1 {
  margin-bottom: 40px;
}

.library-heading > .hint {
  margin-top: 10px;
  font-size: 0.7rem;
}

.library-control-panel {
  --box-shadow-ctl: 0 1px 5px -3px var(--color-text-inactive);

  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 90px;
}

.library-control-sub-panel {
  display: flex;
  width: max-content;
}

.library-control-sub-panel > button:not(:last-child) {
  margin-right: 20px;
}

.library-control-btn {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;

  width: max-content;

  border: var(--border-ctl);
  border-radius: var(--border-radius-ctl);
  background-color: var(--color-fg-content);
  box-shadow: var(--box-shadow-ctl);

  color: var(--color-text-strong);
  font-size: 0.95rem;
  font-weight: bold;
}

.library-control-btn:hover {
  background: radial-gradient(var(--color-white-lilac), 60%, var(--color-fg-content));
  cursor: pointer;
}

.library-control-btn > span {
  vertical-align: middle;
}

.library-control-btn > .ico {
  margin-right: 8px;
}

.library-control-btn > .ico:last-child {
  margin-left: 8px;
  margin-right: 0;
}

.library-control-btn > .ico:only-child {
  margin: 0;
}

.library-control-btn[lib-ctl-id=tags-btn] > .ico {
  padding-top: 2px;
}

/* 'favourites-btn' button styles start */
.library-control-btn[lib-ctl-id=favourites-btn]:hover,
.library-control-btn[lib-ctl-id=favourites-btn][clicked] {
  color: var(--color-white-lilac);
  background: var(--color-cyan-h180-s60-b75);
}

.library-control-btn[lib-ctl-id=favourites-btn][clicked] {
  box-shadow: inset 1px 1px 3px 1px #00000025;
}

.library-control-btn[lib-ctl-id=favourites-btn][clicked]:hover {
  box-shadow: inset 1px 1px 3px 1px #00000010;
}

.library-control-btn[lib-ctl-id=favourites-btn] > .ico[visible-on-clicked=false],
.library-control-btn[lib-ctl-id=favourites-btn][clicked] > .ico[visible-on-clicked=true] {
  display: block;
}

.library-control-btn[lib-ctl-id=favourites-btn] > .ico[visible-on-clicked=true],
.library-control-btn[lib-ctl-id=favourites-btn][clicked] > .ico[visible-on-clicked=false] {
  display: none;
}
/* 'favourites-btn' button styles start */

.library-control-search-panel {
  position: relative;
  display: flex;
  box-shadow: var(--box-shadow-ctl);
}

.library-control-search-panel > .tooltip-position {
  left: 0;
  top: -60px;
}

.library-control-search-panel .tooltip-pointer-position {
  top: 20px;
  left: 2px;
}

.library-control-search-wrapper,
.library-control-search {
  height: 100%;
  border-top-left-radius: var(--border-radius-ctl);
  border-bottom-left-radius: var(--border-radius-ctl);
  background-color: var(--color-fg-content);
}

.library-control-search-wrapper {
  padding: 0 10px;
  border: var(--border-ctl);
  border-right: none;
  width: 300px;
}

.library-control-search {
  border: none;
  outline: none;
  font-style: italic;
  font-size: 0.9rem;
}

.library-control-search:focus {
  font-style: normal;
}

.library-control-btn[lib-ctl-id=search-btn] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

.library-content-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px 40px;
  width: 100%;
}

.library-item {
  --border-radius-folder: 4px;

  position: relative;
}

.library-item.hidden {
  display: none;
}

.library-item-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 200px;

  background-color: var(--color-fg-content);
  border: solid 1px var(--color-border);
  border-radius: var(--border-radius-folder);
  box-shadow: 1px 1px 7px -5px black;
}

.library-item-preview.folder {
  border-top-left-radius: 0;
}

.library-item-preview.preset-background {
  background: bottom no-repeat url('../../assets/images/demidovich.example.png');
}

.library-item-preview.preset-background.example {
  background: center no-repeat url('../../assets/images/attach-ex.png');
}

.library-item-preview-decoration {
  --height-decoration: 25px;

  position: absolute;
  top: calc(-1 * var(--height-decoration) + 1px);
  left: -1px;

  width: 110px;
  height: var(--height-decoration);
  background-color: var(--color-fg-content);

  border: solid 1px var(--color-border);
  border-bottom: none;
  border-top-left-radius: var(--border-radius-folder);
  border-top-right-radius: var(--border-radius-folder);
}

.library-item-preview-decoration.background {
  top: calc(-1 * var(--height-decoration) + 5px);
  left: 3px;
  background-color: var(--color-border);
}

.library-item-preview-decoration2 {
  position: absolute;
  top: 0;
  right: 0;

  padding-top: 5px;
  padding-right: 5px;
  height: 30px;
}

.library-item-preview-decoration2 > img {
  height: 100%;
}

.library-item-preview-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 55px;
}

.library-item-preview-icons > img {
  display: block;
  margin: 0 10px;
  height: 100%;
}

.library-item-preview-options {
  display: none;
}

.library-item:hover .library-item-preview-options {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 10px;
  width: 100%;
  height: 100px;

  background: linear-gradient(0deg, #374b5ec5, transparent);
  border-bottom-left-radius: var(--border-radius-folder);
  border-bottom-right-radius: var(--border-radius-folder);
}

.library-item-preview-options > span {
  color: #fbfff6;
  font-size: 0.9rem;

  width: 140px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.library-item-preview-actions-wrapper {
  display: flex;
}

.library-control-btn.item-options-btn {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;

  width: 35px;
  height: 35px;
}

.library-control-btn.item-options-btn.active {
  background-color: var(--color-cyan-h180-s60-b75);
  color: #fefefe;
}

.library-item-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 0 4px;

  width: 100%;
  height: 20px;
}

.library-item-info-group {
  display: flex;
  align-items: center;
  height: 100%;

  color: var(--color-text);
  font-size: 0.8rem;
}

.library-item-info-group > *:not(:last-child) {
  margin-right: 5px;
}

.library-item-info__avatar {
  display: block;
  height: 100%;
  border-radius: 50%;
}

.library-item-info__author {
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.library-item-info__counter {
  display: flex;
  align-items: center;
}

.library-item-info__counter > .ico {
  margin-right: 3px;
}

.library-item-info__counter.highlighted {
  color: var(--color-text-strong);
}

.library-upload-window {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(125, 125, 125, 0.6);
}

.library-upload-window.hidden {
  display: none;
}

.library-upload-window-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  height: 20%;

  border-radius: 8px;
  background-color: #fefefe;
}

.library-upload-window-form > input {
  margin-bottom: 10px;
  width: 80%;
}

.library-upload-window-form > button {
  padding: 4px;
}
