@import "./header/header.component.css";
@import "./navigation/navigation.component.css";
@import "./breadcrumbs/breadcrumbs.component.css";
@import "./curriculum/curriculum.component.css";
@import "./library/library.component.css";
@import "./journals-list/journals-list.component.css";
@import "./sign-in/sign-in.component.css";
@import url('./messages-page/messages-page.component.css');
@import url('./notes-page/notes-page.component.css');
@import url('./journal-page/journal-page.component.css');
@import url('./admin-journals-page/admin-journals-page.component.css');

.body-container {
  display: flex;
  width: 100%;
  height: calc(100% - var(--height-header));
}

.content-container {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  width: 100%;
  height: 100%;

  background-color: var(--color-white-lilac);
  overflow-x: clip;
}
