<header></header>

<div window="card-details" class="visible"
     *ngIf="showDetails"
     (onClose)="onClose()"
     (onOpen)="onOpen()"></div>
<!-- <main page="sign-in"
      *ngIf="showLogin"
      (onCloseLogin)="onCloseLogin()"></main> -->

<div class="body-container">
  <div element="nav"></div>

  <div class="content-container">
    <div element="breadcrumbs"></div>
    <!-- <main page="curriculum"></main>
    <main page="library"></main>
    <main page="journals-list"></main>
    <main page="journal"></main>
    <main page="notes"></main>
    <main page="messages"></main> -->
    <router-outlet></router-outlet>
  </div>
</div>
