@import "./card/card.component.css";
@import "./card-details/card-details.component.css";

main[page=curriculum] {
  padding: 7px;
  width: 100%;
  height: 100%;

  overflow-x: scroll;
  overflow-y: auto;
}

main[page=curriculum] ul {
  display: flex;
  padding: 0;
  margin: 0;

  flex: 0 0 auto;
  list-style: none;
}

/* Dashboard common styles start */
.dashboard-counter {
  padding: 1px 3px;
  background-color: var(--color-white-b87);
  border-radius: 4px;

  color: var(--color-grey-h120-b45);
  font-size: 0.8rem;
  font-weight: bold;
}

.dashboard-separator {
  margin: 0 calc(var(--width-dashboard-movement-ctl) / 2);
  background-color: var(--color-grey-h120-b45);

  width: 0.5px;
  height: 100%;
}

.dashboard-control {
  display: flex;
  justify-content: center;

  font-size: 0.8rem;
  cursor: pointer;
}

.dashboard-control:hover {
  color: var(--color-text-light);
}
/* Dashboard common styles end */

.dashboard-wrapper {
  --width-dashboard-movement-ctl: 18px;

  display: flex;
  flex-direction: column;
  padding: 4px var(--width-dashboard-movement-ctl);
  padding-bottom: 9px;

  width: max-content;
  min-height: max-content;

  color: var(--color-blue-h210-s41-b30);
  border-radius: 4px;
  background-color: var(--color-white-b99);
  box-shadow: 0 0 6px var(--color-white-b87);
}

/* Dashboard header styles start */
.dashboard-header {
  --height-dashboard-header: 20px;

  position: relative;
  display: flex;
  flex: 0 0 var(--height-dashboard-header);
}

.dashboard-header * {
  height: 100%;
}

.dashboard-movement-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-left: calc(-1 * var(--width-dashboard-movement-ctl));

  flex: 0 0 auto;
  width: var(--width-dashboard-movement-ctl);
}

.dashboard-movement-btn {
  padding-top: 1px;
  border: none;

  color: var(--color-blue-h210-s41-b30);
  background-color: transparent;
  cursor: grab;
}

.dashboard-movement-btn:hover {
  color: var(--color-text-light);
}

.dashboard-movement-btn:active {
  cursor: grabbing;
}

.dashboard-header__text {
  flex: 0 0 max-content;
  font-weight: bold;
}

.dashboard-header__free-space {
  flex: 1 1 100%;
}

.dashboard-header__controls {
  position: sticky;
  right: 0;
}

.dashboard-header__controls > .dashboard-control {
  width: var(--height-dashboard-header);
}
/* Dashboard header styles end */

/* Dashboard block styles start */
.dashboard-block {
  --width-dashboard-column: 240px;

  display: flex;
  flex-direction: column;
  min-height: max-content;
}

.dashboard-block[collapsed]:not(.first-dashboard-block) {
  margin-top: 10px;
}

.dashboard-weekdays {
  display: flex;
  align-items: center;

  margin: 10px 0 7px 0;
  flex: 0 0 24px;
}

.dashboard-block[collapsed]:not(.first-dashboard-block) > .dashboard-weekdays {
  display: none;
}

.dashboard-weekday {
  display: flex;
  justify-content: space-between;

  width: var(--width-dashboard-column);
  font-size: 0.9em;
  font-weight: bold;
}

.dashboard-data {
  /* Half of --width-dashboard-movement-ctl backwards to create an edge
     and -1px for the border */
  --margin-dashboard-edge: calc(-1 * var(--width-dashboard-movement-ctl) / 2 - 1px);

  display: flex;
  flex-direction: column;

  margin: 0 var(--margin-dashboard-edge);
  flex: 1 1 max-content;

  border: solid 1px var(--color-grey-h120-b45);
  border-radius: 3px;
}

.dashboard-data-header {
  --height-dashboard-data-header: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px calc(var(--width-dashboard-movement-ctl) / 2);
  flex: 0 0 var(--height-dashboard-data-header);
  font-size: 0.9em;
}

.dashboard-data-header__controls {
  position: sticky;
  right: 0;
}

.dashboard-data-header__counter-wrapper {
  margin: 0 2px;
}

.dashboard-data-header__controls > .dashboard-control {
  width: var(--height-dashboard-data-header);
}

.dashboard-data-columns {
  display: flex;
  padding: 5px 9px;

  flex: 1 1 300px;
  border-top: solid 1px var(--color-grey-h120-b45);
  background-color: var(--color-white-lilac);
}

.dashboard-block[collapsed] .dashboard-data-columns {
  display: none;
}

.dashboard-column {
  width: var(--width-dashboard-column);
}

.curriculum-card-create-dialog {
  display: flex;
  padding: 5px 5px 5px 10px;
  background-color: var(--color-white-b99);
  box-shadow: 0 0 6px -3px var(--color-grey-h120-b45);
}

.curriculum-card-create-dialog-textarea {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.curriculum-card-create-dialog-textarea > textarea {
  border: none;
  background-color: var(--color-white-b87);
  resize: none;
  outline: none;
}

.curriculum-card-create-dialog.error .curriculum-card-create-dialog-textarea > textarea {
  border: solid 1px var(--color-bg-notifications);
  background-color: #fb6b5b46;
}

.curriculum-card-create-dialog-hint {
  display: none;
  color: var(--color-bg-notifications);
  font-size: 0.7rem;
}

.curriculum-card-create-dialog.error .curriculum-card-create-dialog-hint {
  display: inline-block;
}

.curriculum-card-create-dialog-controls {
  display: flex;
  align-items: end;
  margin-left: 5px;

  flex: 0 0 auto;
  width: min-content;
}

.curriculum-card-create-dialog-controls > button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
}
/* Dashboard block styles end */
